<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ConnectionSQL"
             connectionString="Data Source=172.16.192.70;initial catalog=inhouseLPIWebTEST1;TrustServerCertificate=True;User ID=sa;Pwd=Kaskasmosapader"
             providerName="System.Data.SqlClient" />
		<add name="ConnectionSQL2"
             connectionString="Data Source=172.16.192.70;initial catalog=IFC_FS_DB;TrustServerCertificate=True;User ID=sa;Pwd=Kaskasmosapader"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>